/* estilo de mi pagina */
        body{
            background-color: black;
        }
        h1{
            padding: 0%;
            color: rgb(240, 240, 240);
            background-color: rgba(165, 30, 13, 0.589);
            text-align: center;
           font-size: 60px;
        }
        h2{
            padding: 0fr;
            color: white;
            text-align: center;
            font-style: italic;
            font-size: 35px;
        }
        h3{
            padding: 0%;
            color: white;
            text-align: center;
            font-size: 38px;
        }

        p{
            padding: 0%;
            color: rgb(223, 223, 226);
            text-align: center;
            font-size: 35px;
        }
        div.Buttons{
            padding: 0%;
            font-style: italic;
            font-size: 30px;
            color: tomato;
            text-align: center;
        }

