/* estilo de mi pagina */
        body{
            background-color: rgb(173, 168, 168);
            color: rgb(0, 0, 0);
            background-attachment: fixed;
        }

        
         
        h1{
            padding: 0%;    
            color: rgb(240, 240, 240);
            background-color: rgb(0, 0, 0);
            text-align: center;
           font-size: 60px;
        }
        h2{
            padding: 0fr;
            color: rgb(0, 0, 0);
            text-align: center;
            font-style: italic;
            font-size: 35px;
        }
        h3{
            padding: 0%;
            color: rgb(0, 0, 0);
            text-align: center;
            font-size: 38px;
        }

        p{
            padding: 0%;
            color: rgb(0, 0, 0);
            text-align: center;
            font-size: 35px;
        }
        div.Buttons{
            padding: 0%;
            font-style: italic;
            font-size: 30px;
            color: tomato;
            text-align: center;
        }
        img{
            width: 500px;
            height: 230px;
        }
        div.lista{
            padding: 20px;
            font-size: 35px;
            color: royalblue;
        }
        div.content2{
            color: tomato;
            font: italic;
            font-size: 25px;
        }
        div.caja1{
            position: absolute;
            top:0px;
            bottom:0px;
            right: 0px;
            left:0px;
            background-color:blue;
        }
        label{
            background-color: black;
            color: blanchedalmond;
            font-size: 50px;
            text-align: center;


        }
        nav.tituloA {

            padding: 0.5%;
        }